<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1> {{ site.name }} </h1>
        <h2>The future of Java RMI</h2>
        <a href="https://github.com/barakb/asyncrmi" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          <a href="https://github.com/barakb/asyncrmi/archive/master.zip" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/barakb/asyncrmi/archive/master.tar.gz" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner">is maintained by <a href="https://github.com/barakb">Barak Bar Orion</a>.</p>

        </aside>
      </div>
    </div>

  </body>
</html>
